@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: url("./img/bg.png") repeat;
  font-family: 'Langar', cursive;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  font-family: inherit;
  background-color: #1387e2;
  color: #fff;
  border: 0;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .8);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.6);
  transition: all .3s ease;
}

.btn:hover {
  opacity: .9;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(.85);
}
